---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

/* Misc tidying of overall layout */
.content {
  padding: 15px;
}

.site-header {
  border-top: 0px;
}

.card {
  border: 1px solid {{ site.accent_colour }};
  border-radius: .25rem;
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #fff;
}

.post-title {
  line-height: 1.3;
}

.post-header .bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #fff;
  border: 1px solid {{ site.accent_colour }};
  border-radius: .25rem;
}

.centred-content {
  margin: auto;
  text-align: center;
}

blockquote {
  text-indent: -35px !important;
  padding-left: 50px !important;
}

/* Makes the meta info pretty */
.contact-list li+li {
  padding-top: 5px;
}

.contact-list .svg-icon {
  padding-right: 5px;
}

.contact-list a:hover {
  text-decoration: none;
}

.contact-list a:hover .username {
  text-decoration: underline;
}

.svg-icon {
  fill: #828282;
}

a:hover .svg-icon {
  fill: {{ site.accent_colour }};
}

/* Fixes the in-post indent applying to homepage */
.homepage-title {
  margin-left: 0px;
  padding-left: 0px;
}

/* Fixes weird table word break behaviour */
table {
  table-layout: fixed;
  word-break: break-word;
}

/* Fixes "tag" styling */
.tag,
.tag:visited {
  color: #828282;
}

/* Fixes icon / username alignment in footer */
.username,
.svg-icon {
    vertical-align: middle;
}

/* Styles the pagination & link to other blog */
.centred-homepage-content {
  width: 100%;
  text-align: center;
}

.highlight {
  background: {{ site.accent_colour }};
}

/* Adds extra padding to top right links */
.page-link {
  padding: 5px;
}

/* Adds GitHub style links to headers on mouseover */
.post-content h1 {
  text-indent: -12px;
  overflow-wrap: break-word;
}

.post-content h2 {
  text-indent: -10px;
  overflow-wrap: break-word;
}

.post-content h3 {
  text-indent: -8px;
  overflow-wrap: break-word;
}

.post-content h4 {
  text-indent: -6px;
  overflow-wrap: break-word;
}

.post-content h5 {
  text-indent: -4px;
  overflow-wrap: break-word;
}

.post-content h6 {
  text-indent: -2px;
  overflow-wrap: break-word;
}

h1 .octicon, h2 .octicon, h3 .octicon, h4 .octicon, h5 .octicon, h6 .octicon {
  visibility: hidden;
}

h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon, h5:hover .octicon, h6:hover .octicon {
  visibility: visible;
}

.octicon {
  fill: currentColor;
  padding: 0;
  margin-left: -16px;
  vertical-align: middle;
}

/* Table of contents */
.toc {
  float: right;
  border: 1px solid {{ site.accent_colour }};
  border-radius: 0.25rem;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: 15px;
}

.toc summary {
  margin-left: 20px;
}

.toc ul {
  list-style: none;
  margin-left: 10px;
  margin-bottom: 0px;
}

.toc li {
  margin-left: 10px;
}

/* Search page */
#search-input {
  font-size: 30px;
  display: block;
  width: 400px
}

/* Site picker */
.site-picker {
  line-height: 26px;
  border-bottom: 5px solid {{ site.accent_colour }};
  text-align: center;
}

.site-tile {
  padding: 3.5px 10px 3.5px 10px;
  color: #ffffff !important;
  white-space: nowrap;
}